* {
    margin: 0;
}

.App {
    width: 50%;
    margin: auto;
    background-color: #e5feff;
    height: 700px;
}

.headerComp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
}

.todoListItems {
    margin: 25px auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addSection {
    margin: 40px auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.currentDate {
    color: rgb(175, 175, 175);
}

.dateDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2 {
    color: #030064;
    font-family: 'Roboto', sans-serif;
}

.deleteIcon {
    width: 24px;
    height: 24px;
}

.checkboxDiv input {
    display: inline-block;
}

.checkbox {
    width: 15px;
    height: 15px;
}

.addInput {
    width: 80%;
    height: 20px;
}

.addBtn {
    height: 27px;
    background: #e5feff;
    border: 1px solid rgb(0, 0, 64);
}


/* TEXT STYLE STATE */

.crossed {
    margin-left: 10px;
    font-size: 20px;
    display: inline-block;
    text-decoration: line-through;
}

.noCrossed {
    margin-left: 10px;
    font-size: 20px;
    display: inline-block;
}